@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic-ext');
html {
    font-family: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a:active,
a:focus {
    font-weight: bold;
    text-decoration: underline;
}

.container {
    max-width: 1900px;
    margin: 0 auto;
}

.center {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

header {
    background-image: url(http://image.ibb.co/iTenA7/header.jpg);
    background-size: cover;
    padding: 38px 0 154px;
}

.main-menu {
    position: fixed;
    top: 0;
    left: 0%;
    right: 0%;
}

.main-menu__center {
    height: 100%;
    max-width: 1170px;
    padding: 38px 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
    font-size: 0;
    margin: 0 auto;
    text-align: justify;
    background-color: rgba(47, 48, 76, 0.6);
}

.main-menu__center::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.main-menu__item {
    display: inline-block;
    vertical-align: middle;
}

.nav-menu {
    min-width: 589px;
    width: auto;
}

.nav-menu__items {
    text-align: justify;
}

.nav-menu__items::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.nav-menu__item {
    padding: 0;
    display: inline-block;
    box-sizing: border-box;
}

.nav-menu__item a {
    font-family: Raleway;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.6;
}

.nav-menu li a:hover {
    color: #e84545;
    font-weight: bold;
}

.header-text h1 {
    max-width: 865px;
    margin: 206px auto 25px;
    font-family: "Open Sans";
    color: #ffffff;
    font-size: 64px;
    font-weight: 600;
    line-height: 71px;
    text-align: center;
    text-transform: uppercase;
}

.header-text h2 {
    max-width: 915px;
    margin: 0 auto 75px;
    font-family: Raleway;
    color: #ffffff;
    font-size: 21px;
    font-weight: 200;
    line-height: 33px;
    text-align: center;
}

.header-text__button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 47px;
    font-family: Raleway;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    line-height: 47px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px;
    background-color: #e84545;
}

.header-text__button:hover {
    color: black;
    background-color: #cccccc;
}

.features {
    padding: 120px 0 50px;
    font-size: 0;
}

.features>.center {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.features__item {
    display: inline-block;
    width: 33.33%;
    min-width: 296px;
    padding: 0 45px;
    box-sizing: border-box;
    text-align: center;
}

.features__item>div {
    height: 60px;
    margin: 0 auto;
    background-image: url(http://image.ibb.co/jhEnA7/icon_sprites.png);
}

.features__item1 {
    width: 60px;
    background-position: 0 0;
}

.features__item1:hover {
    width: 60px;
    background-position: 0 -120px;
}

.features__item2 {
    width: 73px;
    background-position: -80px 0;
}

.features__item2:hover {
    width: 73px;
    background-position: -80px -120px;
}

.features__item3 {
    width: 80px;
    background-position: -160px 0;
}

.features__item3:hover {
    width: 80px;
    background-position: -160px -120px;
}

.features__item4 {
    width: 56px;
    background-position: 0 -60px;
}

.features__item4:hover {
    width: 56px;
    background-position: 0 -180px;
}

.features__item5 {
    width: 73px;
    background-position: -80px -60px;
}

.features__item5:hover {
    width: 73px;
    background-position: -80px -180px;
}

.features__item6 {
    width: 80px;
    background-position: -160px -60px;
}

.features__item6:hover {
    width: 80px;
    background-position: -160px -180px;
}

.features__item h3 {
    margin: 31px auto 22px;
    font-family: Raleway;
    color: #2d3033;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.features__item p {
    padding-bottom: 48px;
    font-family: Raleway;
    color: #6c7279;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.works {
    font-size: 0;
}

.works__item {
    display: inline-block;
    width: 25%;
    height: 100%;
    border: solid 1px #ffffff;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.works__item a {
    display: block;
    padding: 153px 0 35%;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    text-decoration: none;
}

.works__item a h3 {
    margin-bottom: 8px;
    text-align: center;
    font-family: Raleway;
    color: #ffffff;
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
}

.works__item a h4 {
    text-align: center;
    font-family: Raleway;
    color: #ffffff;
    font-size: 0.875em;
    font-weight: 400;
    opacity: 0;
}

.works__item:nth-of-type(1) {
    background-image: url(http://image.ibb.co/fsN7A7/work_1.jpg);
    background-size: cover;
}

.works__item:nth-of-type(2) {
    background-image: url(http://image.ibb.co/b2RpOS/work_2.jpg);
    background-size: cover;
}

.works__item:nth-of-type(3) {
    background-image: url(http://image.ibb.co/fGHJHn/work_3.jpg);
    background-size: cover;
}

.works__item:nth-of-type(4) {
    background-image: url(http://image.ibb.co/fYGpOS/work_4.jpg);
    background-size: cover;
}

.works__item:nth-of-type(5) {
    background-image: url(http://image.ibb.co/fKbCcn/work_5.jpg);
    background-size: cover;
}

.works__item:nth-of-type(6) {
    background-image: url(http://image.ibb.co/fgofV7/work_6.jpg);
    background-size: cover;
}

.works__item:nth-of-type(7) {
    background-image: url(http://image.ibb.co/cj6pOS/work_7.jpg);
    background-size: cover;
}

.works__item:nth-of-type(8) {
    background-image: url(http://image.ibb.co/fhLG3S/work_8.jpg);
    background-size: cover;
}

.works__item a:hover {
    background-color: rgba(232, 69, 69, 0.8);
}

.works__item a:hover h3 {
    opacity: 1;
}

.works__item a:hover h4 {
    opacity: 1;
}

footer {
    padding-top: 71px;
    background-color: #3a3e64;
}

.center>div {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

footer h3 {
    margin-bottom: 16px;
    text-align: center;
    font-family: Raleway;
    color: #ffffff;
    font-size: 0.875em;
    font-weight: 500;
    text-transform: uppercase;
}

footer h4 {
    text-align: center;
    font-family: Raleway;
    color: rgb(157, 159, 178);
    font-size: 0.875em;
    font-weight: 400;
}

.footer-share .footer-share__links {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
}

.footer-share__links:nth-of-type(1) a {
    display: block;
    height: 18px;
    width: 8px;
    margin: 11px auto;
    background-image: url(http://image.ibb.co/jhEnA7/icon_sprites.png);
    background-position: 0 -240px;
}

.footer-share__links:nth-of-type(2) a {
    display: block;
    height: 14px;
    width: 20px;
    margin: 13px auto;
    background-image: url(http://image.ibb.co/jhEnA7/icon_sprites.png);
    background-position: -20px -240px;
}

.footer-share__links:nth-of-type(3) a {
    display: block;
    height: 16px;
    width: 16px;
    margin: 12px auto;
    background-image: url(http://image.ibb.co/jhEnA7/icon_sprites.png);
    background-position: -40px -240px;
}

.footer-share__links:nth-of-type(1):hover a {
    background-position: -60px -240px;
}

.footer-share__links:nth-of-type(2):hover a {
    background-position: -80px -240px;
}

.footer-share__links:nth-of-type(3):hover a {
    background-position: -100px -240px;
}

.footer-copyright {
    margin: 110px auto 0;
    padding: 17px 0;
    font-family: Raleway;
    color: #808080;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 1.607;
    text-align: center;
    background-color: #313454;
    border-top: solid 0.5px #808080;
}

.footer-copyright__heart {
    font-family: Webdings;
    color: #e84545;
}

.footer-copyright__author {
    font-family: Raleway;
    color: #ffffff;
}